/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
#back-og{
    background-color: orange;
    line-height: 50px;
}

.identic-size{
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    color: white;
}

ul > li{
    display: inline-block;
    list-style-type: none;
}

.inline-block{
    display: inline-block;
}

.dim25{
    width: 25%;
}

#center{
    width: 50%;
    text-align: center;
}

.right{
    text-align: end;
}

/* MAIN */
.img-size{
    width: 250px;
    height: 350px;
}

#font-size{
    font-size: 10px;
    color: grey;
}

.black-bold{
    color: black;
    font-weight: bold;
}

.centratura{
    padding-left: 20%;
    padding-right: 20%;
}

.centratura > div{
    padding: 10px;
}
/* FOOTER */
#back-black{
    background-color: darkslategray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dim50{
    width: 50%;
}

.text-red{
    color: red;
}
